<footer class="footer">
    <div class="footer__block container">
        <div class="footer__logo">
            <img
                src="../../../../images/pixels/footer/logo-footer.png"
                alt=""
            />
            <img src="../../../../images/pixels/footer/logo-02.png" alt="" />
        </div>
        <div class="footer__contact">
            <!-- <div class="block__left">
                <p class="footer__text">О нас</p>
                <p class="footer__text">Услуги и цены</p>
                <p class="footer__text">Фотоальбом</p>
                <p class="footer__text">Контакты</p>
            </div> -->
            <button class="footer__btn">Заказать звонок</button>
        </div>
    </div>
</footer>
