.horse {
    margin-bottom: 100px;
}
.about__horse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.horse__img {
    // width: 300px;
    height: 421px;
    margin-top: -30px;
}
