<section class="visible">
    <!-- <div class="container"> -->
    <div id="app" style="width: 1920px; height: 650px"></div>
    <div class="form__map">
        <div class="form">
            <h1 class="title__h1 mt">Контакты</h1>
            <!-- <div class="divider"></div> -->
            <div class="contact__adress">
                <div class="adress">
                    <img src="../../../../images/pixels/yamap/pin.png" alt="" />
                    <p>ул. Ленина, 25, офис 65</p>
                </div>
                <div class="adress">
                    <img src="../../../../images/pixels/yamap/tel.png" alt="" />
                    <p>+7 (495) 000-00-00</p>
                </div>
                <div class="adress">
                    <img
                        src="../../../../images/pixels/yamap/email.png"
                        alt=""
                    />
                    <p>mail@somemail.com</p>
                </div>
                <div class="adress">
                    <img src="../../../../images/pixels/yamap/pin.png" alt="" />
                    <div class="col">
                        <p>Пн-Пт: 10:00 - 19:00</p>
                        <p>Сб: 10:00 - 17:00</p>
                        <p>Вс: выходной</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>
