<section>
    <div class="contact__wrapper">
        <img
            class="sky__up"
            src="../../../../images/pixels/contact/sky-down.png"
            alt=""
        />
        <img class="sky__down" src="../../../../images/pixels/sky.png" alt="" />
        <img
            class="forest"
            src="../../../../images/pixels/contact/forest.png"
            alt=""
        />
        <img
            class="forest__girl"
            src="../../../../images/pixels/contact/forest-girl.png"
            alt=""
        />
    </div>

    <div class="contact">
        <div class="contact__form">
            <h1 class="title__h1 question">Отвечаем на вопросы</h1>
            <p class="contact__text">
                Мы ответим на все ваши вопросы по телефону, или вы можете
                записаться на бесплатное пробное занятие
            </p>
            <form>
                <div class="group">
                    <input type="text" required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Имя</label>
                </div>

                <div class="group">
                    <input type="text" required />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>
            </form>
            <button class="btn__home">Задать вопрос</button>
        </div>
    </div>
</section>
