<section class="users__block">
    <h1 class="title__h1 users">Наши посетители и наши лошадки</h1>
    <!-- Slider main container -->
    <div class="swiper mySwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="../../../../images/pixels/users/1.png" alt="" />
                <img src="../../../../images/pixels/users/2.png" alt="" />
                <img src="../../../../images/pixels/users/3.png" alt="" />
                <img src="../../../../images/pixels/users/4.png" alt="" />
                <img src="../../../../images/pixels/users/5.png" alt="" />
            </div>

            <div class="swiper-slide">
                <img src="../../../../images/pixels/users/6.png" alt="" />
                <img src="../../../../images/pixels/users/7.png" alt="" />
                <img src="../../../../images/pixels/users/8.png" alt="" />
                <img src="../../../../images/pixels/users/9.png" alt="" />
                <img src="../../../../images/pixels/users/5.png" alt="" />
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
