<section>
    <div class="container">
        <h1 class="title__h1">О нашем клубе</h1>
        <div class="about">
            <img
                src="../../../../images/pixels/about/horse-up.png"
                alt="horse"
                class="about__img"
            />
            <div class="about__text">
                <div class="text__data">
                    <div class="text__column">
                        <h2 class="text__green">1100+</h2>
                        <p class="text__strong">
                            Довольный посетителей за последний год
                        </p>
                    </div>
                    <div class="text__column">
                        <h2 class="text__green">50+</h2>
                        <p class="text__strong">
                            Проведенных мероприятий за 6 месяцев
                        </p>
                    </div>
                    <div class="text__column">
                        <h2 class="text__green">20+</h2>
                        <p class="text__strong">
                            Выпущенных профессиональных спортсменов за 1 год
                        </p>
                    </div>
                    <div class="text__column">
                        <h2 class="text__green">15+</h2>
                        <p class="text__strong">
                            Регулярный занятий в неделю с профессиональными
                            наставниками
                        </p>
                    </div>
                </div>
                <p class="data__description">
                    Занятия проводятся индивидуально и в группах, стоимость
                    также будет зависеть от ваших навыков и умений. Более
                    выгодные условия предусмотрены для регулярных занятий
                    при покупке абонементов. Для тех, кто хочет отточить своё
                    мастерство, разработаны программы по специализации (конкур,
                    выездка и другие), участие в соревнованиях и чемпионатах.
                    Для самых маленьких любителей лошадей действуют пони-клубы,
                    где ребята учатся ухаживать за животными и ездить на милых
                    и добрых пони.
                </p>
            </div>
        </div>
        <div class="about__two">
            <h1 class="title__h1">Почему нас выбирают</h1>
            <div class="about__advantages">
                <!-- <div class="service">
                    <img
                        class="service__img"
                        src="../../../../images/pixels/about/map1.png"
                        alt=""
                    />
                    <h2 class="service__title">Удобное расположение</h2>
                    <p class="service__description">
                        Мы находимся недалеко от автостанции «Восточный» чтобы
                        вам было удобно добираться
                    </p>
                </div> -->
            </div>
        </div>
    </div>
</section>
