<section>
    <div class="wrapper__img">
        <img
            src="../../../../images/pixels/background.png"
            alt=""
            class="img__bg"
        />

        <img src="../../../../images/pixels/sky.png" alt="" class="img__sky" />
        <img
            src="../../../../images/pixels/home/horse.png"
            alt=""
            class="img__horse"
        />
        <img
            src="../../../../images/pixels/home/gull.png"
            alt=""
            class="img__gull"
        />
        <img
            src="../../../../images/pixels/home/left.png"
            alt=""
            class="img__left"
        />
        <img
            src="../../../../images/pixels/home/right.png"
            alt=""
            class="img__right"
        />
    </div>
    <div class="container">
        <div class="home">
            <div class="description">
                <h1 class="home__title">
                    Окунитесь в мир лошадей вместе с нами
                </h1>
                <p class="home__description">
                    Уроки верховой езды, фотосессии и мероприятия в частном
                    конном клубе <strong>г. Санкт-Петербург</strong>
                </p>
                <button class="btn__home">Записаться</button>
            </div>
        </div>
    </div>
</section>
