<section class="visible">
    <img
        class="img__service"
        src="../../../../images/pixels/service/Mask.png"
        alt=""
    />
    <img
        class="img__girl"
        src="../../../../images/pixels/service/girl.png"
        alt=""
    />
    <img
        class="img__boy"
        src="../../../../images/pixels/service/boy.png"
        alt=""
    />
    <img src="../../../../images/pixels/sky.png" alt="" class="service__sky" />
    <div class="service container">
        <h1 class="title__h1">Направления клуба</h1>
        <div class="service__card">
            <!-- JS service -->
        </div>
        <button class="btn__home margin">Записаться</button>
    </div>
</section>
