<section class="visible container">
    <img
        class="img__service"
        src="../../../../images/pixels/service/Mask.png"
        alt=""
    />
    <div class="service">
        <h1 class="title__h1">Направления клуба</h1>
        <div class="service__card">
            <!-- LEFT -->
            <div class="card__left">
                <div class="card">
                    <img
                        class="card__img"
                        src="../../../../images/pixels/service/left1.png"
                        alt=""
                    />
                    <h2 class="card__title">Уроки верховой езды</h2>
                    <div class="divider"></div>
                    <p class="card__text">
                        Уроки профессиональной верховой езды для любителей и
                        начинающих
                    </p>
                </div>
                <!--  -->
                <div class="card">
                    <img
                        class="card__img"
                        src="../../../../images/pixels/service/left2.png"
                        alt=""
                    />
                    <h2 class="card__title">Прогулки верхом с тренером</h2>
                    <div class="divider"></div>
                    <p class="card__text">
                        Тренировка клиентов, подготовка к занятиям конным
                        спортом на профессиональном уровне под руководством
                        опытных теннеров
                    </p>
                </div>
            </div>
            <!-- LEFT END -->
            <!-- CENTER START -->
            <div class="card__center">
                <div class="card">
                    <img
                        class="card__img"
                        src="../../../../images/pixels/service/center1.png"
                        alt=""
                    />
                    <h2 class="card__title">Прогулки верхом с тренером</h2>
                    <div class="divider"></div>
                    <p class="card__text">
                        Тренировка клиентов, подготовка к занятиям конным
                        спортом на профессиональном уровне под руководством
                        опытных теннеров
                    </p>
                </div>
                <!--  -->
                <div class="card">
                    <img
                        class="card__img"
                        src="../../../../images/pixels/service/center2.png"
                        alt=""
                    />
                    <h2 class="card__title">Фотосессии</h2>
                    <div class="divider"></div>
                    <p class="card__text">
                        Уроки профессиональной верховой езды для любителей и
                        начинающих
                    </p>
                </div>
            </div>
            <!-- CENTER END -->
            <!-- RIGHT START -->
            <div class="card__right">
                <div class="card">
                    <img
                        class="card__img"
                        src="../../../../images/pixels/service/right1.png"
                        alt=""
                    />
                    <h2 class="card__title">Фотосессии</h2>
                    <div class="divider"></div>
                    <p class="card__text">
                        Уроки профессиональной верховой езды для любителей и
                        начинающих
                    </p>
                </div>
                <!--  -->
                <div class="card">
                    <img
                        class="card__img"
                        src="../../../../images/pixels/service/right2.png"
                        alt=""
                    />
                    <h2 class="card__title">Прогулки верхом с тренером</h2>
                    <div class="divider"></div>
                    <p class="card__text">
                        Тренировка клиентов, подготовка к занятиям конным
                        спортом на профессиональном уровне под руководством
                        опытных теннеров
                    </p>
                </div>
            </div>
            <!-- RIGHT END -->
        </div>
    </div>
</section>
